<?xml version="1.0" encoding="UTF-8" ?>
<!--DTD:Document type Definition(文書型の定義):使用出来るタグや属性等の情報の定義-->
<!--Mapper.xmlはjava側のinterfaceと同一パッケージ内に配置する-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.raise_tech_lesson04.mapper.ProjectMapper">
    <!--select:データを取得する(SELECT)SQLの定義 etc:insert, update, delete-->
    <select id="selectAll" resultType="com.example.raise_tech_lesson04.entity.Project">
        select * from projects;
    </select>

    <!--*: 指定されたidの全カラムを全取得    -->
    <select id="findById" parameterType="int" resultType="com.example.raise_tech_lesson04.entity.Project">
        <!--変数定義: set @[name]/セッション変数で接続中は値が保持されるので初期化する-->
        <!--大文字小文字の区別なし-->
        set @project = null;
        <!--select into:select結果をintoへ代入-->
        select *
        into @project
        from projects
        where id = #{id}

        <!--処理内容-->
        <!--入力ID(project id)に合致するpc_idを取得(可変個)-->
        <!--pc_idに合致するmachine_infoを取得-->
        <!--machine_infoをProject.machinesに設定-->

        set @project_pc_rel = null;
        select *
        into @project_pc_rel
        from project_pc_relation
        where project_pc_relation.project_id = #{id}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from projects where id = #{id}
    </delete>

    <update id="update">
        update projects
        set
            name = #{name}
        where id = #{id}
    </update>

    <insert id="insert">
        insert into projects (name)
        values (#{name})
    </insert>

    <select id="numOfProjects" resultType="_int">
        select count(*) from projects;
    </select>

</mapper>

