<?xml version="1.0" encoding="UTF-8" ?>
<!--DTD:Document type Definition(文書型の定義):使用出来るタグや属性等の情報の定義-->
<!--Mapper.xmlはjava側のinterfaceと同一パッケージ内に配置する-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.raise_tech_lesson04.mapper.ProjectMapper">
    <!--select:データを取得する(SELECT)SQLの定義 etc:insert, update, delete-->
    <select id="selectAll" resultType="com.example.raise_tech_lesson04.entity.Project">
        select * from projects;
    </select>

    <delete id="deleteById" parameterType="int">
        delete from projects where id = #{id}
    </delete>

    <select id="numOfProjects" resultType="_int">
        select count(*) from projects;
    </select>

</mapper>

