<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <package name="com.example.raise_tech_lesson04.entity"/>-->
        <typeAlias type="com.example.raise_tech_lesson04.entity.MachineInfo" alias="MachineInfo"/>
        <typeAlias type="com.example.raise_tech_lesson04.entity.Platform" alias="Platform"/>
    </typeAliases>
</configuration>
