<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrapの設定/html, cssベースのレスポンシブデザインテンプレート-->
    <!--レスポンシブ:各デバイスに合わせてサイズ・配置を自動調整する-->
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet"><link>
    <!--Bootstrap内でjQueryを参照しているので、jQueryを先にロード-->
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"><</script>

    <title>Machines</title>
</head>
<body>
<!--textに文字列を埋め込む場合は | or 'で囲む-->
<h2 th:text="|機材リスト(${numOfMachines})|">Machine List</h2>
<!--Bootstrapを使う時は、classに名前を指定。複数の場合は空白区切り-->
<table class="table table-bordered table-striped table-condensed">
    <!--tr(table row):表の行部分を指定<tr>-</tr>で1行-->
    <tr>
        <!--th(table header):表のみだし、タイトル指定-->
        <th>ＩＤ</th>
        <th>プラットフォーム</th>
        <th>ホスト名</th>
        <th>所有者</th>
    </tr>
    <!--th:each="var: ${}"/ループタグ-->
    <!--${}:EL式によるオブジェクト参照 ${式}:${10*2}->20-->
    <tr th:each="info: ${machineInfo}">
        <!--td(table data):表の内容を指定。-->
        <td th:text="${info.id}"></td>
        <td th:text="${info.platform}"></td>
        <td th:text="${info.host_name}"></td>
        <td th:text="${info.owner}"></td>
    </tr>
</table>
</body>
</html>