<!DOCTYPE html>

<!--参考書籍: Spring Boot2入門::6.3/CRUD操作が出来る様にする-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--th:insert: 共通設定等の読み込みheader includeみたいなもの(fragment/base.html)-->
    <!--th:block: 擬似的なブロックを形成できる,属性のコンテナとして使うタグ-->
    <!--条件などを記述しているタグが出力時には消えてほしい場合に使う-->
    <th:block th:insert="fragments/base::header"></th:block>
</head>
<!--id: htmlタグに設定できる属性(名前, ブロック名みたいなもの)/id: ページ内で1つ/class重複可能-->
<!--id, classをキーにしてcssを適用したり、div要素のデータを取得したりが可能-->
<!--あくまで設定機能がメインで、参照機能はサブ-->
<!--参考-->
<!--https://www.sejuku.net/blog/85629-->
<!--https://web-camp.io/magazine/archives/12439-->
<body id="page-top">
    <!--page wrapper:css-->
    <!-- 説明:https://coliss.com/articles/build-websites/operation/css/styling-layout-wrappers-in-css.html -->
    <div id="wrapper">
        <th:block th:insert="fragments/sidebar::sidebar"></th:block>

        <!--main-->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <!--機材情報リスト-->
                    <!--cardコンポーネント:カードの様に縦型で上段/下段の構成。上段:画像 下段:文章-->
                    <div class="card shadow my-4">
                        <!--上段(header):アイテム数/下段:アイテムリスト-->
                        <div class="card-header py-3">
                            <!--textに文字列を埋め込む場合は | or 'で囲む-->
                            <h6 class="m-0 font-weight-bold text-primary" th:text="|機材リスト(${numOfMachines})|">
                                機材リスト
                            </h6>
                        </div>

                        <!--card:画像、タイトル、説明、リンクボタンを1つ枠の中に入れて、一枚のカードのように扱えるコンポーネント-->
                        <!--class名にcardを指定したdivで囲む-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <div th:if="${machineInfo.size()==0}">
                                    該当データがありません
                                </div>
                                <!--Bootstrapを使う時は、classに名前を指定。複数の場合は空白区切り-->
                                <table class="table table-bordered table-striped table-condensed"
                                       th:if="${machineInfo.size()>0}">

                                    <!--thread: 「table header」表の行（水平方向）をグループ化するタグ-->
                                    <thead>
                                        <!--tr(table row):表の行部分を指定<tr>-</tr>で1行-->
                                        <tr>
                                            <!--th(table header):表のみだし、タイトル指定-->
                                            <th>ＩＤ</th>
                                            <th>プラットフォーム</th>
                                            <th>ホスト名</th>
                                            <th>所有者</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <!--tbody: 表の行（水平方向）をグループ化するタグ-->
                                    <tbody>
                                        <!--th:each="var: ${}"/ループタグ-->
                                        <!--${}:EL式によるオブジェクト参照 ${式}:${10*2}->20-->
                                        <!--th:object以下で*を変数のショートカットとして利用可能-->
                                        <!--td(table data):テーブルセルの内容を指定。データの場合tdを使用-->
                                        <tr th:each="machine: ${machineInfo}" th:object="${machine}">
                                            <!--td(table data):表の内容を指定。-->
                                            <td th:text="*{id}"></td>
                                            <!--サブフィールドは.で参照可-->
                                            <td th:text="*{platform.name}"></td>
                                            <td th:text="*{host_name}"></td>
                                            <td th:text="*{owner}"></td>
                                            <!--各列に編集、削除ボタンの表示-->
                                            <td>
                                                <!--id=*{id}: id->link内のid *{id}->info.id-->
                                                <a class="btn btn-primary btn-icon-split" th:href="@{/machine/edit/{id}(id=*{id})}">
                                                    <!--span: divのようにグループ化する。divと違い要素の一部をグループ化する-->
                                                    <!--divはブロックレベルでのグループ化なので前後に改行が入る-->
                                                    <span class="text">編集</span>
                                                </a>
                                                <a id="delete_target" class="btn btn-danger btn-icon-split" th:href="@{/machine/delete/{id}(id=*{id})}">
                                                    <span class="text">削除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!--cardの外に記述すると枠一杯のボタンになってしまう-->
                            <!--classにbtn-icon-splitがなくても、見た目は同じ-->
                            <a class="btn btn-primary" th:href="@{/new_machine}">
                                <span class="text">機材登録</span>
                            </a>
                        </div>

                    </div>      <!--機材情報リスト-->
                </div>
            </div>
        </div>  <!--main-->
    </div>
    <!--BootstrapのJavascriptは一番下に記述する-->
    <th:block th:insert="fragments/base::scripts"></th:block>
    <!--JSをロードする時は↑の外側へ記述/path:resources/staticからの相対パス-->
    <!--ロードタイミング-->
    <!--window.onloadは画像を含めた全てのオブジェクトのロード完了後-->
    <!--画像等の重いデータ前 and ページロード後にしたい時は</body>前にロードする-->
    <!--ページロード前の場合は、head要素に記述-->
    <!--参考: https://www.nishishi.com/javascript-tips/onload-page.html -->
    <script src="/js/common.js"></script>

</body>
</html>
