<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--共通設定等の読み込みheader(fragment/base.html)-->
    <th:block th:insert="fragments/base::header"></th:block>
</head>
<body id="page-top">
    <div id="wrapper">
        <th:block th:insert="fragments/sidebar::sidebar"></th:block>

        <!--main-->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow my-4">
                        <!--上段(header):アイテム数/下段:アイテムリスト-->
                        <div class="card-header py-3">
                            <!--textに文字列を埋め込む場合は | or 'で囲む-->
                                <h6 class="m-0 font-weight-bold text-primary" th:text="|プロジェクトリスト(${numOfProjects})|">
                                プロジェクトリスト
                            </h6>
                        </div>

                        <div class="card-body">
                            <div class="card-responsive">
                                <div th:if="${projects.size()==0}">
                                    該当データがありません
                                </div>

                                <!--&gt; 大なり記号(>)は閉じタグと認識される為、別名で指定 -->
                                <table class="table table-bordered table-striped table-condensed" th:if="${projects.size()} &gt; 0">
                                    <thead>
                                        <tr>
                                            <th>ＩＤ</th>
                                            <th>プロジェクト名</th>
                                            <th>登録機材</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="project: ${projects}" th:object="${project}">
                                            <td th:text="*{id}"></td>
                                            <td th:text="*{name}"></td>
                                            <td>
                                                <!--work-->
<!--                                            <th:block th:if="${#lists.size(project.machines) &gt; 0}">-->
                                                <!--work: ＊を使ったフィールドメンバ参照で、メソッドをコール-->
<!--                                            <th:block th:if="*{#lists.size(machines) &gt; 0}">-->
                                                <!--work-->
<!--                                            <th:block th:if="${project.machines.size() &gt; 0}">-->
                                                <!--work:  ＊を使ったフィールドメンバ参照で、メソッドをコール-->
                                                <!--参考: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf_ja.html の14.2の項目-->
                                                <!--th:block:属性のコンテナ用タグ-->
                                                <th:block th:if="*{machines.size() &gt; 0}">
                                                    <!--th:remove="tag": 無いと各機材単位で改行されるので不要なタグを削除-->
<!--                                                    <div th:each="machine: *{machines}" th:remove="tag" th:text="${machine.host_name}"></div>&nbsp-->
                                                    <!--span:グループ化しつつ、改行しない。各要素をdivで囲むと1行全体を使う為(改行される)、ここでは使わない-->
                                                    <!--th:remove="tag"は不必要-->
                                                    <span th:each="machine: *{machines}" th:text="${machine.host_name}+'&nbsp'"></span>
                                                </th:block>
                                                <!--else/elseifはないので条件で判定-->
                                                <th:block th:if="*{machines.size() == 0}">
                                                    登録機材なし
                                                </th:block>
                                            <!--各列に編集、削除ボタンの表示-->
                                            <td>
                                                <a class="btn btn-primary btn-icon-split" th:href="@{/project/edit/{id}(id=*{id})}">
                                                    <!--span: divのようにグループ化する。divと違い要素の一部をグループ化する-->
                                                    <!--divはブロックレベルでのグループ化なので前後に改行が入る-->
                                                    <span class="text">編集</span>
                                                </a>
                                                <a id="delete_target" class="btn btn-danger btn-icon-split" th:href="@{/project/delete/{id}(id=*{id})}">
                                                    <span class="text">削除</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--cardの外に記述すると枠一杯のボタンになってしまう-->
                            <!--classにbtn-icon-splitがなくても、見た目は同じ-->
                            <a class="btn btn-primary" th:href="@{/new_project}">
                                <span class="text">プロジェクト登録</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BootstrapのJavascriptは一番下に記述する-->
    <th:block th:insert="fragments/base::scripts"></th:block>
    <script src="/js/common.js"></script>
</body>
</html>
