<!DOCTYPE html>
<!--機材情報入力、編集時に使う共通フォーム部分-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!--th:block::疑似的なブロックを形成できるタグ    -->
    <th:block th:fragment="base">
        <!--hidden: id等、表示されないが送信されるデータに使用-->
        <!--*{field-name}各フィールドはこのfragmentをincludeした直前のth:objectに対応-->
        <input type="hidden" th:field="*{id}">
        <!--th:with: そのタグの子要素内で有効なローカル変数の宣言。${}で参照-->
        <div class="form-group" th:with="selectedPlatformId=*{platform.id}">
<!--            <div class="form-group" th:with="selectedPlatformId=1">-->
            <!--for:input要素と紐づけを行うために名前を付ける-->
            <!--forのメリット: https://style.potepan.com/articles/20037.html-->
            <label for="platform">プラットフォーム</label>
            <!--errorclass: エラー時だけスタイルを切り替える-->
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{platform.name}">
            <div class="invalid-feedback" th:errors="*{platform.name}"></div>
            <!--Bootstrapのフォームを使う場合は class="form-control"を指定-->
            <select id="platform-select" name="platform-select" class="form-control">
                <!--*{value}Java::Mapの各要素はvalueを指定-->
                <!--th:selected: 初期状態で表示するアイテムを選択する為の条件式-->
                <option th:each="item: ${platformItems}" th:object="${item}"
                        th:value="*{id}"
                        th:text="*{name}"
                        th:selected="*{id}==${selectedPlatformId}"></option>
                <!--↑${}withで宣言した変数の参照-->
            </select>
        </div>
        <div class="form-group">
            <label for="host_name">ホスト名</label>
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{host_name}">
            <div class="invalid-feedback" th:errors="*{host_name}"></div>
        </div>
        <div class="form-group">
            <label for="owner">所有者</label>
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{owner}">
            <div class="invalid-feedback" th:errors="*{owner}"></div>
        </div>

    </th:block>
</body>
</html>